@charset "UTF-8";
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: flex-start;
}
h1{
    color: darkblue;
   font-size: 40px;
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}